<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Search</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<!-- Bootstrap JavaScript -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- JQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" href="/css/style.css" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
<ul>
<li><a href="http://localhost:8080/scripttool/search">hier kannst du suchen </a></li>
<li><a href="http://localhost:8080/scripttool/analyzer">hier gehts zum analyzer </a></li>
<li><a href="http://localhost:8080/scripttool/script/list">hier kannst du die Liste der Scripts einsehen</a></li>
<li><a href="http://localhost:8080/scripttool/infoxml">Infos zu der Datengrundlage</a></li>
</ul>
</body>
</html>