<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Info zu XML</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<!-- Bootstrap JavaScript -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- JQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<link rel="stylesheet" href="/css/style.css" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Infos zu den XMLs</h1>

<span>Die zugrundeliegenden XMLs sind sind sehr einfach aufgebaut.</span>
<span>Sie bestehen nur aus einem "script"-Tag und mehreren "content"-Tags</span>
<span>Das "script"-Tag beinhaltet die Attribute "title", "year", "author" und "runtime"</span>
<span>Die "content"-Elemente weisen jeweils zwei Attribute auf: "speaker" und "ID"</span>
<span>Das "content"-Element beschreibt den im Drehbuch gesprochenen Text.</span>
<span>Da sich diese Applikation nur mit dem gesprochenen Wort im Film auseinandersetzt, sind Regieanweisungen und ähnliche Informationen nicht in der XML vorgesehen.</span>
</body>
</html>